Add Incident EventType

# Version 2 - Add Incident EventType
## Summary
Add an `incident` value to the [EventType Enumeration]( https://github.com/usdot-jpo-ode/wzdx/blob/main/spec-content/enumerated-types/EventType.md)

## Motivation
Adding an `incident` value to the EventType enumeration enables publishers to inform drivers about events that close or restricts the use of road segments. This is valuable because it reduces driver uncertainty and increases the probability of driver success.  It also fulfills use cases identified by WZDx working group members and state transportation officials.  These use cases include informing citizens about road closures after a hurricane and informing transportation management centers about road status during emergencies. 

Adding 'closures' will bolster the specifications usefulness.  A more useful  specification is more likely to be implemented.  More implementations inform more drivers about hazards to navigation.  Better informed drivers avoid hazards resulting in safer, cleaner, and more efficient transportation.

## IncidentRoadEvents vs WorkZoneRoadEvents
IncidentRoadEvents are very similar to WorkZoneRoadEvent.  They are different in the following ways:
- The property `type_of_work` is dropped from the IncidentRoadEvent object.
- The property `end_date`  is optional in IncidentRoadEvent object.
- The property `type_of_incident` is created for the IncidentRoadEvent object.  Incident types are described using event_cause from the [Transportation Management Data Dictionary 3.1](https://www.ite.org/pub/?id=21873631-03DC-A90B-A0E6-AD04D834AD10) (TMDD)

## Proposed changes
### EventType Enumeration
Value | Description
--- | ---
`work-zone` | An area of a trafficway with highway construction, maintenance, or utility-work activities.  A work zone is typically marked by signs, channeling devices, barriers, pavement markings, and/or work vehicles.  It extends from the first warning sign or flashing lights on a vehicle to the "End of Road Work" sign or the last traffic control device.  A work zone may be for short or long durations and may include stationary or moving activities.<br>Inclusions:<ol><li>Long-term stationary highway construction such as building a new bridge, adding travel lanes to the roadway, and extending an existing trafficway.<li>Mobile highway maintenance such as striping the roadway, median, and roadside grass mowing/landscaping, and pothole repair.<li>Short-term stationary utility work such as repairing electric, gas, or water lines within the trafficway.</ol>Exclusions:<ol><li>Private construction, maintenance, or utility work outside the trafficway.</ol>*The AASHTO term equivalent to roadway is traveled way.<br>*The AASHTO term equivalent to trafficway is highway, street, or road.<br><br>Source: https://www.fhwa.dot.gov/publications/publicroads/99mayjun/workzone.cfm
`detour` | A temporary rerouting of road users onto an existing trafficway to avoid a work zone or other impedance.<br><br>Source: https://mutcd.fhwa.dot.gov/htm/2009/part6/part6c.htm
`restriction` | A section of roadway that has limitations of how that section can be used.
`incident` | Incidents or events that close or restrict the use of road segments.

# IncidentRoadEvent Object
The `IncidentRoadEvent` object locates and describes incidents or events that close or restrict the use of a road segment.

The `IncidentRoadEvent` is a type of road event; it has a `core_details` property which contains the [RoadEventCoreDetails](/spec-content/objects/RoadEventCoreDetails.md) and exists within a [RoadEventFeature](/spec-content/objects/RoadEventFeature.md).

## Properties
Name | Type | Description | Conformance | Notes
--- | --- | --- | --- | ---
`core_details` | [RoadEventCoreDetails](/spec-content/objects/RoadEventCoreDetails.md) | The core details of the road event that are shared by all types of road events, not specific to work zones. | Required |
`types_of_incident` | Array; One or More Incident Types | A list of one or more incident types indicating the cause of closure or restriction. | Required | Incident types are described using event_cause enumerations from the [Transportation Management Data Dictionary 3.1](https://www.ite.org/pub/?id=21873631-03DC-A90B-A0E6-AD04D834AD10) (TMDD)
`start_date` | String; [date-time](https://tools.ietf.org/html/draft-handrews-json-schema-validation-01#section-7.3.1) | The UTC time and date when the event begins. | Required | All datetime formats shall follow [RFC 3339 Section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6). Example: `2016-11-03T19:37:00Z`.
`end_date` | String; [date-time](https://tools.ietf.org/html/draft-handrews-json-schema-validation-01#section-7.3.1) | The UTC time and date when the event ends. | Required | All datetime formats shall follow [RFC 3339 Section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6). Example: `2016-11-03T19:37:00Z`.
`start_date_accuracy` | [TimeVerification](/spec-content/enumerated-types/TimeVerification.md) | A measure of how accurate the start date-time is. | Required |
`end_date_accuracy` | [TimeVerification](/spec-content/enumerated-types/TimeVerification.md) | A measure of how accurate the end date-time is. | Optional| 
`beginning_accuracy` | [SpatialVerification](/spec-content/enumerated-types/SpatialVerification.md) | Indicates how the beginning coordinate was defined. | Required |
`ending_accuracy` | [SpatialVerification](/spec-content/enumerated-types/SpatialVerification.md) | Indicates how the ending coordinate was defined. | Required |
`location_method` | [LocationMethod](/spec-content/enumerated-types/LocationMethod.md) | The typical method used to locate the beginning and end of a work zone impact area. | Required | 
`vehicle_impact` | [VehicleImpact](/spec-content/enumerated-types/VehicleImpact.md) | The impact to vehicular lanes along a single road in a single direction. | Required |
`lanes` | Array; \[[Lane](/spec-content/objects/Lane.md)\] | A list of individual lanes within a road event (roadway segment). | Optional |
`beginning_cross_street` | String | Name or number of the nearest cross street along the roadway where the event begins. | Optional |
`ending_cross_street` | String | Name or number of the nearest cross street along the roadway where the event ends. | Optional |
`beginning_milepost` | Number | The linear distance measured against a milepost marker along a roadway where the event begins. | Optional | A milepost or mile marker is a surveyed distance posted along a roadway measuring the length (in miles or tenth of a mile) from the south west to the north east. These markers are typically notated on State and local government digital road networks.
`ending_milepost` | Number | The linear distance measured against a milepost marker along a roadway where the event ends. | Optional | A milepost or mile marker is a surveyed distance posted along a roadway measuring the length (in miles or tenth of a mile) from the south west to the north east. These markers are typically notated on State and local government digital road networks.
`event_status` | [EventStatus](/spec-content/enumerated-types/EventStatus.md) | The status of the event. | Optional |
`worker_presence` | [WorkerPresence](/spec-content/objects/WorkerPresence.md) | Information about whether workers are present in the road event area. | Optional |
`reduced_speed_limit_kph` | Number | The reduced speed limit posted within the road event, in kilometers per hour. This property only needs to be supplied if the speed limit within the road event is lower than the posted speed limit of the roadway. | Optional |
`restrictions` | Array; [[Restriction](/spec-content/objects/Restriction.md)] | A list of zero or more road restrictions that apply to the roadway segment described by this road event. | Optional | Restrictions can also be provided on an individual lane.

## Used By
Property | Object
--- | ---
`properties` | [RoadEventFeature](/spec-content/objects/RoadEventFeature.md)




# Version 1 - Superseded by version 2 Above
## Summary
Add a `closure` value to the [EventType Enumeration]( https://github.com/usdot-jpo-ode/wzdx/blob/main/spec-content/enumerated-types/EventType.md)

## Motivation
Adding a `closure` value to the EventType enumeration enables publishers to inform drivers about road closures.  This adds value to road event feeds by reducing driver uncertainty and increasing the probability of driver success.  It also fulfills use cases identified by WZDx working group members.  These use cases include informing citizens about road closures after a hurricane and informing transportation management centers about road status during emergencies.  

Adding 'closures' will bolster the usefulness of RoadRestrictionFeeds and hopefully increase its uptake.  It might also server Work Zone Data feeds.

## Proposed changes
### After
Value | Description
--- | ---
`work-zone` | An area of a trafficway with highway construction, maintenance, or utility-work activities.  A work zone is typically marked by signs, channeling devices, barriers, pavement markings, and/or work vehicles.  It extends from the first warning sign or flashing lights on a vehicle to the "End of Road Work" sign or the last traffic control device.  A work zone may be for short or long durations and may include stationary or moving activities.<br>Inclusions:<ol><li>Long-term stationary highway construction such as building a new bridge, adding travel lanes to the roadway, and extending an existing trafficway.<li>Mobile highway maintenance such as striping the roadway, median, and roadside grass mowing/landscaping, and pothole repair.<li>Short-term stationary utility work such as repairing electric, gas, or water lines within the trafficway.</ol>Exclusions:<ol><li>Private construction, maintenance, or utility work outside the trafficway.</ol>*The AASHTO term equivalent to roadway is traveled way.<br>*The AASHTO term equivalent to trafficway is highway, street, or road.<br><br>Source: https://www.fhwa.dot.gov/publications/publicroads/99mayjun/workzone.cfm
`detour` | A temporary rerouting of road users onto an existing trafficway to avoid a work zone or other impedance.<br><br>Source: https://mutcd.fhwa.dot.gov/htm/2009/part6/part6c.htm
`restriction` | A section of roadway that has limitations of how that section can be used.
`closure` | A section of roadway that may not be used.

## ClosureRoadEvent

Adding a `closure` EventType creates a ClosureRoadEvent Object.  The ClosureRoadEvent is modeled after the RestrictionRoadEvent Object but with two additional properties. The `vehicle_impact` enumeration is added (see [issue 264](https://github.com/usdot-jpo-ode/TDx/issues/12) ) to describe the event's affect. `event_cause` is added (see [Issue 269](https://github.com/usdot-jpo-ode/TDx/issues/11) to inform drivers why an event occurred.

The `event_cause` property emulates the cause element found in the eventDescription property described in section 3.3.8.14 of the [Transportation Management Data Dictionary 3.1](https://www.ite.org/pub/?id=21873631-03DC-A90B-A0E6-AD04D834AD10) (TMDD).  The `event_cause` property will be populated using the Disasters ([issue 276](https://github.com/usdot-jpo-ode/TDx/issues/10)), Special Events ([issue 277](https://github.com/usdot-jpo-ode/TDx/issues/9)), and Winds [issue coming]() enumerations described in sections 3.6.5.8, 3.6.5.23, 3.6.5.37 respectively.

An example:
#### ClosureRoadEvent Object
The `ClosureRoadEvent` object is a linear road event that locates and describes roadways that may not be used. 

The `ClosureRoadEvent` is a type of road event; it has a `core_details` property which contains the [RoadEventCoreDetails](https://github.com/usdot-jpo-ode/wzdx/blob/main/spec-content/objects/RoadEventCoreDetails.md) and exists within a [RoadEventFeature](https://github.com/usdot-jpo-ode/wzdx/blob/main/spec-content/objects/RoadEventFeature.md).

For representing closures due to road work, see the [WorkZoneRoadEvent](https://github.com/usdot-jpo-ode/wzdx/blob/main/spec-content/objects/WorkZoneRoadEvent.md).

##### Properties
Name | Type | Description | Conformance | Notes
--- | --- | --- | --- | ---
`core_details` | [RoadEventCoreDetails](https://github.com/usdot-jpo-ode/wzdx/blob/main/spec-content/objects/RoadEventCoreDetails.md) | Describes the basic characteristics of a road event.  | Required |
`restrictions` | Array; [[Restriction](https://github.com/usdot-jpo-ode/wzdx/blob/main/spec-content/objects/Restriction.md)] | A list of zero or more road restrictions that apply to the roadway segment described by this road event. | Conditional: required if `lanes` property is not provided. | Restrictions can also be provided on an individual lane.
`lanes` | Array; \[[Lane](https://github.com/usdot-jpo-ode/wzdx/blob/main/spec-content/objects/Lane.md)] | A list of individual lanes within a road event (roadway segment). | Conditional: required if `restrictions` property is not provided. |
`vehicle_impact` | [VehicleImpact](https://github.com/usdot-jpo-ode/wzdx/blob/main/spec-content/enumerated-types/VehicleImpact.md) | The impact to vehicular lanes along a single road in a single direction. | Required |
`event_cause` | Disasters Type,<br/> Winds Type,<br/> Special Events Type | A value, from an enumeration, describing why a restriction is in place. | Optional |

##### Used By
Property | Object
--- | ---
`properties` | [RoadEventFeature](https://github.com/usdot-jpo-ode/wzdx/blob/main/spec-content/objects/RoadEventFeature.md)
